<!DOCTYPE html>
<html>
<head>
    <title>Stackunderflow</title>
</head>
<body>
<header>
    <a href="/" class="nav_link">Home</a>
    <a href="/users/login" class="nav_link">Login</a>
    <a href="/users/register" class="nav_link">Register</a>
    <a href="/questions/new" class="nav_link">New question</a>
    <div class="currentuser"><%= currentuser%></div>
    <form id="form" method="post" action="/questions/search">
        <input name="searchString" placeholder="Search...">
        <button>Search</button>
    </form>
</header>



<%if(typeof message != 'undefined'){ %>
    <%- message %><%}

let body = question[id].Body;
let title = question[id].Title;
let actionQ = "/questions/questionClap/"+id

%>
<%if(typeof message != 'undefined'){ %>
    <%- message %><%}%>
<h1><%=title%></h1>

<div class="qScore"><%=question[id].Score%></div>
<form action="<%=actionQ%>">
    <button class="answerClap" >Clap</button>
</form>

<% if(answers.length){%>
    <h3> Answers </h3>
    <table class="answer_table">

        <tbody>
        <% for(let x in answers){
            let entries = Object.entries(answers[x]);
            let actionA = "/questions/answerClap/"+ entries[0][0]+'&'+id;
            console.log('test'+x);
            console.log(answers[x][x].Score);


        %>
            <tr>
                <td><%= entries[0][1].Body%></td>
                <td><%= answers[x][x].Score%></td>
                <td><%= entries[0][1].OwnerUserId%></td>
                <td> <form action="<%= actionA%>">
                        <button class="answerClap" >Clap</button>
                    </form></td>
            </tr>
        <%}%>
        </tbody>
    </table>
<%
}
%>

<form method="post" action="/questions/answer/<%= Object.entries(question)[0][0]%>">

    <p>
        <label>Body:</label>
        <input type="text" name="body">
    </p>
    <p>
        <input type="submit" value="Post answer">
    </p>


</form>


<footer>
    <a href="/about" class="nav_link">About</a>

</footer>
</body>
</html>
